# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/customizing-atom#customizing-key-bindings
# * https://atom.io/docs/latest/advanced/keymaps

'atom-workspace atom-text-editor:not([mini])':
  'cmd-;': 'dillon:focus-next-pane'
  'cmd-k cmd-l': 'pane:split-right-and-copy-active-item'
  'cmd-k cmd-h': 'pane:split-left-and-copy-active-item'
  'ctrl-i':     'cursor-history:next'
  'ctrl-o':     'cursor-history:prev'
  'ctrl-cmd-i': 'cursor-history:next-within-editor'
  'ctrl-cmd-o': 'cursor-history:prev-within-editor'

'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'
  'S': 'vim-mode-plus:surround'

  'K': 'vim-mode-plus-user:move-selected-text-up'
  'J': 'vim-mode-plus-user:move-selected-text-down'
  'ctrl-h': 'vim-mode-plus-user:move-selected-text-left'
  'ctrl-l': 'vim-mode-plus-user:move-selected-text-right'

  'cmd-K': 'vim-mode-plus-user:duplicate-selected-text-up'
  'cmd-J': 'vim-mode-plus-user:duplicate-selected-text-down'
  'cmd-H': 'vim-mode-plus-user:duplicate-selected-text-left'
  'cmd-L': 'vim-mode-plus-user:duplicate-selected-text-right'

'atom-text-editor.vim-mode-plus.operator-pending-mode':
  '/': 'vim-mode-plus:toggle-line-comments' # g / / toggles comment on line

'atom-text-editor.vim-mode-plus:not(.insert-mode):not(.visual-mode)':
  'K': 'dillon:move-current-line-up'
  'J': 'dillon:move-current-line-down'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'enter': 'vim-mode-plus:move-to-last-line'
  'E': 'narrow:fold'
  'space space': 'vim-mode-plus:set-register-name-to-*'
  'space o': 'vim-mode-plus-user:insert-newline-below'
  'space O': 'vim-mode-plus-user:insert-newline-above'
  'ctrl-s': 'vim-mode-plus:transform-smart-word-by-select-list'
  'cmd-H': 'git-diff:move-to-previous-diff'
  'cmd-L': 'git-diff:move-to-next-diff'
  'H': 'vim-mode-plus-user:move-to-previous-symbol'
  'L': 'vim-mode-plus-user:move-to-next-symbol'
  'f2': 'dillon:rename-param-under-cursor'
  'R': 'vim-mode-plus-user:align-regex'
  'g r': 'vim-mode-plus:reverse'
  'g s': 'vim-mode-plus:sort'
  'ctrl-n': 'linter:next-error'
  '!': 'vim-mode-plus-user:replace-with-execution'
  'ctrl-\\': 'window:reload'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ';': 'vim-mode-plus:inner-any-pair-allow-forwarding'

  # Use closing pair as forwarding version of pair-text-object
  'i }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'

  'i >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'

  'i )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a )': 'vim-mode-plus:a-parenthesis-allow-forwarding'

'atom-text-editor.vim-mode-plus.normal-mode':
  'y s': 'vim-mode-plus:surround'
  'd s': 'vim-mode-plus:delete-surround-any-pair'
  'd S': 'vim-mode-plus:delete-surround'
  'c s': 'vim-mode-plus:change-surround-any-pair-allow-forwarding'
  'c S': 'vim-mode-plus:change-surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y s m': 'vim-mode-plus:map-surround'

'body':
   # if not in vmp, cancel
  'ctrl-;': 'core:cancel'
  "ctrl-'": 'core:cancel'
  # change tab ordering (tip from https://github.com/atom/atom/issues/11650#issuecomment-261424720)
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab ^ctrl': 'unset!'
  'ctrl-shift-tab': 'pane:show-previous-item'

'atom-text-editor.vim-mode-plus':
  'ctrl-;': 'vim-mode-plus:reset-normal-mode'
  "ctrl-'": 'dillon:normal-mode-and-save'
  'ctrl-z': 'dillon:undo-and-normal-mode'

'atom-text-editor.vim-mode-plus:not(.normal-mode)':
  'ctrl-;': 'vim-mode-plus:activate-normal-mode'

# smalls configuration
'atom-text-editor.smalls.search':
  ';': 'smalls:jump'

'atom-text-editor:not([mini])':
  'cmd-;': 'smalls:start'

'atom-text-editor':
  'alt-up': 'expand-region:expand'
  'alt-down': 'expand-region:shrink'
