packages: [
  "atom-elixir"
  "autoclose-html"
  "busy"
  "choose-pane"
  "color-picker"
  "cursor-history"
  "cyber-dojo"
  "dash"
  "elm"
  "example-package"
  "expand-region"
  "git-diff-details"
  "jumpy"
  "language-diff"
  "language-elixir"
  "language-elm"
  "linter"
  "linter-elixir-credo"
  "minitest-snippets"
  "narrow"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "pigments"
  "quick-highlight"
  "ruby-block"
  "ruby-test"
  "smalls"
  "vim-mode-plus"
  "vim-mode-plus-move-selected-text"
  "vim-mode-plus-move-to-symbols"
  "vim-mode-plus-replace-with-execution"
]
