packages: [
  "atom-elixir" #cut
  "busy"
  "color-picker"
  "cyber-dojo" #cut
  "dash"
  "elm-format"
  "elm-instant"
  "elm-snippets"
  "elmjutsu"
  "hyperclick"
  "jumpy"
  "language-diff"
  "language-elixir" #cut
  "language-elm"
  "linter"
  "linter-elixir-credo" #cut
  "linter-elm-make"
  "minitest-snippets"
  "package-sync"
  "pigments"
  "vim-mode-plus"
  "vim-mode-plus-duplicate"
  "vim-mode-plus-exchange"
  "vim-mode-plus-move-selected-text"
  "vim-mode-plus-move-to-symbols"
  "vim-mode-plus-replace-with-execution"
  "toggle-packages"
]
